NODE_ENV=development
PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=hotel_mvp
JWT_SECRET=replace_this_secret
JWT_REFRESH_SECRET=replace_this_refresh_secret
ADMIN_EMAIL=admin@hotel.cl
# Genera el hash con: node -e "console.log(require('bcryptjs').hashSync('admin123', 10))"
ADMIN_PASSWORD_HASH=$2a$10$N9qo8uLOickgx2ZMRZoMyeIjZAgcfl7p92ldGxad68LJZdL17lhWy
